body {
  font-family: sans-serif;
  background-color: #9DE5FF;
}

.container {
  width: 1200px;
}

.data {
  width: 500px;
  height: 440px;
  background-color: #F2B544;
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 10px solid #054C68;
  display: none;
  box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.60);
}

.input {
  width: 900px;
  height: 50px;
  text-align: left;
  margin-top: 50px;
  margin-left: 25px;
  display: none;
}

.input .movie {
  border-radius: 5px;
  width: 300px;
  height: 30px;
  font-size: 16px;
  border: outset 5px #054C68;
  padding-left: 5px;
  box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.5);
}

.input .submit {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  border: outset 5px #F2B544;
  margin: 3px;
  padding: 0px;
  font-size: 16px;
  color: #054C68;
  background-color: #F2B544;
  box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.5);
  margin-left: 10px;
}

.input .submit:hover {
  background-color: #F2A333;
  color: #0A93C9;
}

.input .submit:active {
  position:relative;
  top:1px;
}

.result {
  text-align: left;
  width: 900px;
  font-size: 16px;
  margin-left: 40px;
  display: none;
  text-shadow: 3px 4px 5px rgba(150, 150, 150, 0.5);
}

a:link {
  text-decoration: none;
  color: #054C68;
}

a:visited {
 color: #054C68;
}

a:hover {
  color: #F26E22;
}

.poster {
  float: left;
  text-align: left;
  margin-top: 30px;
  margin-left: 25px;
  padding: 0px;
  /*width: 450px;*/
  display: none;
  border-radius: 10px;
  border: 10px solid #054C68;
  box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.60);
}

.headline {

  padding: 10px;
  border-radius: 10px;
  background-color: #054C68;
}

h1 {
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  color: white;
  text-shadow: 3px 4px 5px rgba(140, 129, 119, 0.8);
}

h2 {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  /*width: 180px;*/
  display: inline-block;
  color: #999787;
}

p.ratings {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  /*width: 180px;*/
  font-size: 16px;
  color: #999787;
}

p.runtime {
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
  display: inline-block;
  font-size: 16px;
  text-align: right;
  color: #999787;
}

img {
  padding: 0px;
  margin: 0px;
}

.top p {
  font-size: 16px;
  font-weight: bold;
}

.top span {
  font-weight: normal;
}

.middle {
  font-size: 20px;
}

.bottom p {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.bottom span {
  font-weight: normal;
}
